<section class="flex gap-x-4">
  <div class="[&>P]:mb-4 text-gray-300 [&>p>span]:text-yellow-200">
    <p>
      Me llamo César y soy <span
        >Analista de Sistemas recientemente graduado.</span
      > Desde joven me interesó la tecnología y cómo funcionan las cosas.
    </p>
    <p>
      Mis primeras incursiones en el área de sistemas fueron en Venezuela,
      mientras cursaba la carrera de Ingeniería en Mantenimiento Industrial. Sin
      embargo, fue al emigrar a Argentina que decidí dedicarme de lleno al
      <span>desarrollo de software.</span>
    </p>
    <p>
      Fuera del ámbito profesional, soy un apasionado del fútbol y un fiel
      seguidor del <strong class="text-[#004D98]">FC Barc</strong><strong
        class="text-[#A50044]">elona.</strong
      >
    </p>
    <p>
      Mi objetivo es crear soluciones tecnológicas que realmente <span
        >marquen una diferencia</span
      >, mientras continúo creciendo y aprendiendo en el mundo del desarrollo.
    </p>
  </div>
</section>
