<header
  class="flex justify-center items-center py-5 w-full xl:w-[1120px] mx-auto"
>
  <nav class="flex flex-row gap-x-8 opacity-80">
    <a href="/#proyectos">Proyectos</a>
    <a href="/#experiencia">Experiencia</a>
    <a href="/#sobre-mi">Sobre mí</a>
    <a href="mailto:cesar_tomas_rivero@hotmail.com">Contacto</a>
  </nav>
</header>
