---
import SocialPill from "../components/SocialPill.astro";
import GitHubIcon from "../icons/GitHub.astro";
import LinkedInIcon from "../icons/LinkedIn.astro";
import MailIcon from "../icons/Mail.astro";
---

<img
  class="rounded-full size-20 mb-4"
  src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTVdIdt1JoRG_n5XM70IXS9nDnUUoe1xp0JPQ&s"
  alt="Foto perfil"
/>
<h1
  class="text-white text-3xl md:text-4xl lg:text-5xl font-bold flex-row gap-x-4 pb-4 lg:pb-8"
>
  Hey, soy César
</h1>
<h2
  class="text-xs mb-6 md:text-xl lg:xl max-w-[700px] text-pretty text-gray-300"
>
  <span class="text-yellow-200 font-semibold">
    Analista de Sistemas y Desarrollador de Software</span
  > en el inicio de mi carrera profesional. Apasionado por crear soluciones funcionales
  e innovadoras que marquen la diferencia.
</h2>
<nav class="flex gap-4 mt-2 flex-wrap">
  <SocialPill href="https://www.linkedin.com/in/cesar-rivero23/">
    <LinkedInIcon class="size-4 lg:size-5" /> LinkedIn
  </SocialPill>
  <SocialPill href="https://github.com/CesaRivero">
    <GitHubIcon class="size-4 lg:size-5" /> GitHub
  </SocialPill>
  <SocialPill href="mailto:cesar_tomas_rivero@hotmail">
    <MailIcon class="size-4 lg:size-5" /> Contactame
  </SocialPill>
</nav>
